/ArrayDemo/build/
/Operators/nbproject/private/
/Operators/build/
/OperationsWithIntegersAndDoubles/nbproject/private/
/OperationsWithIntegersAndDoubles/build/
/test/nbproject/private/
/test/build/
/substring/nbproject/private/
/substring/build/
/RegularExpression/nbproject/private/
/RegularExpression/build/